[submodule "themes/blonde"]
	path = themes/blonde
	url = https://github.com/opera7133/Blonde
[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
